<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Excluir Livro</h1>

    <h2>Livro a ser excluído:</h2>
    <p>Título: {{ livro.titulo }}</p>
    <p>Autor: {{ livro.autor }}</p>
    <p>Número de Páginas: {{ livro.num_paginas }}</p>
    <p>Custo: {{ livro.custo }}</p>

    <form action="/livraria/delete/{{ livro.id }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Excluir</button>
    </form>

    <a href="/livraria">Voltar para a lista de livros</a>
</body>
</html>
